{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@screens": "./src/screens",
          "@app": "./src/app",
          "@assets": "./src/assets",
          "@images": "./src/assets/images",
          "@redux": "./src/redux",
          "@components": "./src/components",
          "@icons": "./src/icons",
          "@api": "./src/api",
          "@util": "./src/util"
        }
      }
    ]
  ]
}
