{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@screens": "./src/screens",
          "@assets": "./src/assets",
          "@images": "./src/assets/images",
          "@redux": "./src/redux",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
